OPENAI_API_VERSION="{{ AZURE_API_VERSION }}"
OPENAI_BASE_URL="https://{{ endpoints.litellm.dmz }}"
OPENAI_API_KEY="{{ LITELLM_API_GPT_RESEARCHER }}"
EMBEDDING="openai:text-embedding-3-large"
FAST_LLM="openai:gpt-4.1-mini"
FAST_TOKEN_LIMIT=15000
SMART_LLM="openai:o4-mini"
SMART_TOKEN_LIMIT=15000
RETRIEVER="searx"
SEARX_URL="https://{{ endpoints.searxng.dmz }}"