PORT=3000
WEBUI_SECRET_KEY={{ OPENWEBUI_WEB_UI_SECRET_KEY }}
ENABLE_SIGNUP=True
ENABLE_LOGIN_FORM=True
ADMIN_EMAIL={{ OPENWEBUI_ADMIN_EMAIL }}
ENABLE_OLLAMA_API=False
OPENAI_API_BASE_URL=https://{{ endpoints.litellm.dmz }}/v1
OPENAI_API_KEY={{ OPENWEBUI_LITELLM_OPENAI_API_KEY }}
TASK_MODEL_EXTERNAL=gpt-4.1-mini
WEBUI_SESSION_COOKIE_SECURE=True
WEBUI_AUTH_COOKIE_SECURE=True
ENABLE_EVALUATION_ARENA_MODELS=False
ENABLE_MESSAGE_RATING=False
RAG_EMBEDDING_ENGINE=openai
RAG_EMBEDDING_MODEL=text-embedding-3-large
RAG_RERANKING_MODEL=Cohere-rerank-v3-5
RAG_OPENAI_API_BASE_URL=https://{{ endpoints.litellm.dmz }}
RAG_OPENAI_API_KEY={{ OPENWEBUI_LITELLM_OPENAI_API_KEY }}
ENABLE_WEB_SEARCH=True
WEB_SEARCH_ENGINE=searxng
SEARXNG_QUERY_URL=https://{{ endpoints.searxng.dmz }}
{# WEB_LOADER_ENGINE=playwright #}
DATABASE_URL="postgresql://{{ OPENWEBUI_POSTGRES_USER }}:{{ OPENWEBUI_POSTGRES_PASSWORD }}@openwebui-postgres:5432/openwebui"
WEBUI_URL=https://{{ endpoints.openwebui.dmz }}
CORS_ALLOW_ORIGIN=https://{{ endpoints.openwebui.dmz }}
CONTENT_EXTRACTION_ENGINE=document_intelligence
DOCUMENT_INTELLIGENCE_ENDPOINT={{ OPENWEBUI_DOCUMENT_INTELLIGENCE_ENDPOINT }}
DOCUMENT_INTELLIGENCE_KEY={{ OPENWEBUI_DOCUMENT_INTELLIGENCE_KEY }}
{# VECTOR_DB=milvus #}
{# MILVUS=URI="http://user:pw@localhost:19530" #}
{# MILVUS_INDEX_TYPE=AUTOINDEX #}
AUDIO_STT_ENGINE=opennai
AUDIO_STT_MODEL=gpt-4o-transcribe
AUDIO_STT_OPENAI_API_BASE_URL=https://{{ endpoints.litellm.dmz }}
AUDIO_STT_OPENAI_API_KEY={{ OPENWEBUI_LITELLM_OPENAI_API_KEY }}
AUDIO_TTS_ENGINE=openai
AUDIO_TTS_API_KEY={{ OPENWEBUI_LITELLM_OPENAI_API_KEY }}
AUDIO_TTS_MODEL=gpt-4o-mini-tts
AUDIO_TTS_VOICE=alloy
IMAGE_GENERATION_ENGINE=openai
ENABLE_IMAGE_GENERATION=true
IMAGE_GENERATION_MODEL=dall-e-3
