DOCLING_OCR_LANG=deu,ita,eng
DOCLING_FORCE_FULL_PAGE_OCR=true
DOCLING_OCR_ENGINE=tesseract
DOCLING_DO_TABLE_STRUCTURE=true
DOCLING_TABLE_STRUCTURE_CELL_MATCHING=true
DOCLING_PICTURE_DESCRIPTION_API_URL={{ endpoints.litellm.dmz }}
DOCLING_PICTURE_DESCRIPTION_API_MODEL=gpt-4.1-mini
DOCLING_PICTURE_DESCRIPTION_API_PROMPT="Describe the image in three sentences. Be concise and accurate."
DOCLING_PICTURE_DESCRIPTION_API_TIMEOUT="90"
OPENAI_API_KEY={{ LITELLM_API_OPENWEBUI }}
