FLY_PROCESS_GROUP=worker
ENV=local

REDIS_URL=redis://firecrawl-redis:6379
REDIS_RATE_LIMIT_URL=redis://firecrawl-redis:6379
PLAYWRIGHT_MICROSERVICE_URL=http://firecrawl-playwright:3000/scrape
USE_DB_AUTHENTICATION=false
OPENAI_API_KEY={{ LITELLM_API_FIRECRAWL }}
OPENAI_BASE_URL=https://{{ endpoints.litellm.dmz }}
BULL_AUTH_KEY={{ FIRECRAWL_ADMIN_KEY }}
TEST_API_KEY={{ FIRECRAWL_API_KEY }}
LOGGING_LEVEL=INFO
SEARXNG_ENDPOINT=https://{{ endpoints.searxng.dmz }}
