ADGUARD_SERVERS=https://{{ (endpoints.adguard | dict2items)[0].value }},https://{{ (endpoints.adguard | dict2items)[1].value }}
ADGUARD_USERNAMES={{ ADGUARD_USER }},{{ ADGUARD_USER }}
INTERVAL=30s
ADGUARD_PASSWORDS={{ ADGUARD_PASSWORD }},{{ ADGUARD_PASSWORD }}