TITLE=Franz 60er
ACCOUNT_ADMIN_USERNAME={{ WEDDINGSHARE_ADMIN_USERNAME }}
ACCOUNT_ADMIN_PASSWORD={{ WEDDINGSHARE_ADMIN_PASSWORD }}
DATABASE_TYPE=sqlite
ENCRYPTION_KEY={{ WEDDINGSHARE_ENCRYPTION_KEY }}
ENCRYPTION_SALT={{ WEDDINGSHARE_ENCRYPTION_SALT }}
{# SINGLE_GALLERY_MODE=true
LINKS_OPEN_NEW_TAB=true
EMAIL_REPORT=false
GALLERY_CAMERA_UPLOADS=true
GALLERY_IDLE_REFRESH_MINS=1
GALLERY_MAX_SIZE_MB=999999
GALLERY_MAX_FILE_SIZE_MB=300
GALLERY_DEFAULT_VIEW=0
IDENTITY_CHECK_ENABLED=false
SLIDESHOW_INTERVAL=20
LANGUAGES_DEFAULT=de-DE #}
