LITELLM_MASTER_KEY={{ LITELLM_MASTER_KEY }}
LITELLM_SALT_KEY={{ LITELLM_SALT_KEY }}
LITELLM_LOG=INFO
#STORE_MODEL_IN_DB=True
CONFIG_FILE_PATH=/app/litellm-config.yaml
LITELLM_DROP_PARAMS=True

# Database connection
DATABASE_URL=postgresql://{{ LITELLM_POSTGRES_USER }}:{{ LITELLM_POSTGRES_PASSWORD }}@litellm-postgres:5432/litellm

# LLM provider keys
AZURE_API_KEY={{ AZURE_API_KEY }}
AZURE_OPENAI_URL={{ AZURE_OPENAI_URL }}
AZURE_SERVICES_URL={{ AZURE_SERVICES_URL }}
AZURE_FOUNDRY_URL={{ AZURE_FOUNDRY_URL }}
AZURE_RERANK_URL={{ AZURE_COHERE_RERANK_URL }}
AZURE_RERANK_API_KEY={{ AZURE_COHERE_RERANK_API_KEY }}
AZURE_GPT4o_TTS_URL={{ AZURE_GPT4o_TTS_URL }}
AZURE_GPT4o_TTS_API_KEY={{ AZURE_GPT4o_TTS_API_KEY }}
