RAG_API_URL=http://librechat-rag_api:8080
RAG_PORT=8080
POSTGRES_DB=librechat
POSTGRES_USER=librechat
POSTGRES_PASSWORD="{{ LIBRECHAT_POSTGRES_PASSWORD }}"
DB_HOST=librechat-vectordb
EMBEDDINGS_PROVIDER=openai
EMBEDDINGS_MODEL=text-embedding-3-large
RAG_OPENAI_API_KEY="{{ LITELLM_API_LIBRECHAT }}"
RAG_OPENAI_BASEURL="https://{{ endpoints.litellm.dmz }}"
RAG_AZURE_OPENAI_API_VERSION="{{ AZURE_API_VERSION }}"
RAG_AZURE_OPENAI_API_KEY="{{ AZURE_API_KEY }}"
RAG_AZURE_OPENAI_ENDPOINT="{{ AZURE_OPENAI_URL }}"
DEBUG_RAG_API=false
RAG_USE_FULL_CONTEXT=true
PDF_EXTRACT_IMAGES=false