version: 1.2.1

cache: true

endpoints:
  azureOpenAI:
    titleConvo: true
    titleModel: "gpt-4.1-mini_SMALL"
    assistants: false # Agents are better
    plugins: true
    agents:
      recursionLimit: 50
      disableBuilder: false
    groups:
      - group: "Sweden-Normal"
        apiKey: "{{ AZURE_API_KEY }}"
        instanceName: "{{ AZURE_BASE_OPENAI_URL }}"
        version: "{{ AZURE_API_VERSION }}"
        models:
          gpt-4.1_NORMAL:
            deploymentName: "gpt-4.1"
      - group: "Sweden-Reasoning"
        apiKey: "{{ AZURE_API_KEY }}"
        instanceName: "{{AZURE_BASE_OPENAI_URL }}"
        version: "{{ AZURE_API_VERSION }}"
        dropParams: ["stream_options", "stream", "temperature", "top_p", "presence_penalty", "frequency_penalty", "best_of", "max_tokens", "stop"]
        models:
          o4-mini_SMARTEST:
            deploymentName: "o4-mini"
          o3-mini_SMART:
            deploymentName: "o3-mini"
      - group: "Sweden"
        apiKey: "{{ AZURE_API_KEY }}"
        instanceName: "{{ AZURE_BASE_OPENAI_URL }}"
        version: "{{ AZURE_API_VERSION }}"
        models:
          gpt-4.1-mini_SMALL:
            deploymentName: "gpt-4.1-mini"
          gpt-4.1-nano_STUPID:
            deploymentName: "gpt-4.1-nano"

  custom:
    - name: "LiteLLM"
      apiKey: "{{ LITELLM_API_LIBRECHAT }}"
      baseURL: "https://{{ endpoints.litellm.dmz }}" 
      models:
        default:
          - "gpt-4.1"
          - "o4-mini"
          - "o3-mini"
          - "gpt-4.1-mini"
          - "gpt-4.1-nano"
        fetch: false
      titleConvo: true
      titleModel: "gpt-4.1-mini"
      summarize: false
      forcePrompt: false
      modelDisplayLabel: "LiteLLM"


speech:
  speechTab:
    conversationMode: true
    advancedMode: false
    speechToText:
      engineSTT: "external"
      autoTranscribeAudio: true
      decibelValue: -45
      autoSendText: -1
    textToSpeech:
      engineTTS: "external"
      voice: "alloy"
      automaticPlayback: false
      playbackRate: 1.0
      cacheTTS: true
  stt:
    azureOpenAI:
      instanceName: "{{ AZURE_BASE_OPENAI_URL }}"
      apiKey: "{{ AZURE_API_KEY }}"
      deploymentName: "whisper-01"
      apiVersion: "{{ AZURE_API_VERSION }}"
  tts:
    azureOpenAI:
      instanceName: "{{ AZURE_BASE_OPENAI_URL }}"
      apiKey: "{{ AZURE_API_KEY }}"
      deploymentName: "tts-hd"
      apiVersion: "{{ AZURE_API_VERSION }}"
      model: "tts-hd"
      voices: ['alloy', 'echo', 'fable', 'onyx', 'nova', 'shimmer']

webSearch:
  {# searxngInstanceUrl: "${CUSTOM_SEARXNG_INSTANCE_URL}"
  searxngApiKey: "${CUSTOM_SEARXNG_API_KEY}"
  firecrawlApiKey: "${CUSTOM_FIRECRAWL_API_KEY}"
  firecrawlApiUrl: "${CUSTOM_FIRECRAWL_API_URL}"
  cohereApiKey: "${CUSTOM_COHERE_API_KEY}" #}
  safeSearch: 0